
.Header{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* .HeaderScrolled{
    background: rgba(0,0,0, 0.8);
    padding: 15px 0;
    backdrop-filter: blur(20px)
} */

.HeaderGroup{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
}

.Shannon {
    padding-left: 20px;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Shannon:hover{
    transform: translateX(15px);
}

.About{
    padding-right: 20px;
    justify-self: end;
    animation: sprinkle-wiggle 1s linear infinite;
    animation-play-state: paused; 
    cursor: pointer;
}

.About:hover{
    animation-play-state: running;
    cursor: pointer;
}

/* FOOTER */
.FooterGroup{
    width: 95%;
    margin: 15px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
    height: 200px;    
    border-top: 1px solid rgba(0,0,0, 0.15);
}

.Email{
}

.LinkedIn{
}

.Resume{
}




@media (max-width: 640px){
    .Header{
        padding: 15px 0;
    }
    .HeaderGroup{
        grid-template-columns: 1fr 1fr auto;
    }
    .Header a:nth-child(4){
        display: none;
    }
    .About{
        justify-self: end;
        padding-right: 20px;
    }
}

@keyframes sprinkle-wiggle{
    0%, 25%, 50%, 75%, 100%{
      -webkit-transform:none;transform:none}
    12.5%{
      -webkit-transform:scale(1.2, 0.75) rotate(5deg) translate3d(2px, -2px, 0);
      transform:scale(1.2, 0.75) rotate(5deg) translate3d(2px, -2px, 0)}
    37.5%{
      -webkit-transform:scale(0.95, 1.2) rotate(2deg) translate3d(-1px, 5px, 0);
      transform:scale(0.95, 1.2) rotate(2deg) translate3d(-1px, 5px, 0)}
    62.5%{
      -webkit-transform:scale(1.1, 0.95) rotate(4deg) translate3d(3px, 1px, 0);
      transform:scale(1.1, 0.95) rotate(4deg) translate3d(3px, 1px, 0)}
    87.5%{
      -webkit-transform:scale(0.95, 1.5) rotate(5deg) translate3d(-2px, -5px, 0);
      transform:scale(0.95, 1.5) rotate(5deg) translate3d(-2px, -5px, 0)}
    }