@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:0;
  font-size:18px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #5334F5;
  text-decoration: none;
  font-weight: 600;
}

h1{
  font-family:'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;  
}

h2{
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;  
  font-size: 30px;
}

h3{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}


.Hero {
  background: url('../images/wallpaper3.jpg');
  height: 970px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.HeroGroup{
  margin:0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.Hero h1{
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero a{
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0,0,0,0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255,255,255, 0.25);
  border-radius: 20px;
}

.Hero a:hover{
  background: white;
  color:black;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
}


@media (max-width: 640px){
  .HeroGroup{
    padding: 100px 20px;
  }
  .Hero h1{
    font-size: 40px
  }
  .Hero p{
    font-size: 24px;
  }
  .Hero .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Hero svg{
  position: absolute;
  bottom: 0;
  left: 0;
}

.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

.Cards h2{
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #050A27 0%, #4A548C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}


.CardGroup{
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px){
  .CardGroup{
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width: 720px){
  .CardGroup{
    grid-template-columns: repeat(1, 1fr)
  }
}


/* ABOUT PAGE */
.AboutMe{
  margin: 0 auto 150px auto;
  padding: 150px 0px 0px 0px;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.About_1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.AboutExpLayout, .AboutEduLayout{
  margin: 150px 0px 150px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; 
}

.AboutBaby{
  width: 600px;
  height: 400px;
  overflow:hidden;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  z-index: -100px;
  border-radius: 3px;
}

.AboutBaby:hover{
  transform: scale(1.1,1.1);
  box-shadow: 0 30px 60px rgba(0,0,0,0.5)
}

.AboutBaby img{
  width: 600px;
  position:relative;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.AboutBaby:hover img{
  transform: scale(1.08,1.08)
}

.AboutLabel{
  position: relative;
  align-self: center;
  justify-self: start;
}

.AboutExp{
  justify-self: start;
  position: relative;
  left: -50px;
}

.AboutEdu{
  justify-self: end;
  position: relative;
  left: -30px;
}

.ExperienceBox{
  justify-self: end;
}

.EducationBox{
  justify-self:start;
}

@media (max-width: 992px){
  .AboutBaby{
    position:relative;
    left: 10px;
    max-width: 650px;
    justify-self: start;
  }
  .AboutBaby:hover{
    transform: scale(1.05,1.05)
  }
  .AboutExpLayout, .AboutEduLayout, .About_1{
    grid-template-columns: 1fr 1fr;
  }
  .ExperienceBox, .EducationBox{
    margin: auto 30px;
  }
  .AboutLabel{
    justify-self: start;
    margin: 30px;
  }
  .AboutEdu{
    justify-self: start;
    left: 20px;
  }
}

@media (max-width: 640px){
  .AboutBaby{
    position:relative;
    left: -50px;
    max-width: 450px;
    justify-self: start;
  }
  .AboutExpLayout, .AboutEduLayout, .About_1{
    grid-template-columns: 1fr;
  }
  .ExperienceBox, .EducationBox{
    margin: auto;
  }
  .ExperienceBox{
    top: -30px;
    position: relative
  }
  .AboutExpLayout, .AboutEduLayout{
    margin: 50px auto;
  }
  .AboutLabel{
    justify-self: start;
  }
  .AboutEdu{
    justify-self: start;
  }
  .AboutExpLayout div:nth-of-type(1) {
    order: 2;
  }
}

/* ANIMATION */
@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes cta-hover{
  0%, 100%{
    -webkit-transform:scale(1, 1) rotate(0deg) translateZ(0);
    transform:scale(1, 1) rotate(0deg) translateZ(0)}
  21%{
    -webkit-transform:scale(1.76, 0.46) rotate(-9deg) translateZ(0);
    transform:scale(1.76, 0.46) rotate(-9deg) translateZ(0)}
  50%{
    -webkit-transform:scale(0.82, 1.21) rotate(13deg) translateZ(0);
    transform:scale(0.82, 1.21) rotate(13deg) translateZ(0)}
  }
@-webkit-keyframes sprinkle-wiggle{
  0%, 25%, 50%, 75%, 100%{
    -webkit-transform:none;transform:none}
  12.5%{
    -webkit-transform:scale(1.07, 0.95) rotate(3deg) translate3d(2px, -2px, 0);
    transform:scale(1.07, 0.95) rotate(3deg) translate3d(2px, -2px, 0)}
  37.5%{
    -webkit-transform:scale(0.97, 1.03) rotate(1deg) translate3d(-1px, 2px, 0);
    transform:scale(0.97, 1.03) rotate(1deg) translate3d(-1px, 2px, 0)}
  62.5%{
    -webkit-transform:scale(1.05, 0.98) rotate(4deg) translate3d(1px, 1px, 0);
    transform:scale(1.05, 0.98) rotate(4deg) translate3d(1px, 1px, 0)}
  87.5%{
    -webkit-transform:scale(0.96, 1.04) rotate(5deg) translate3d(-2px, -1px, 0);
    transform:scale(0.96, 1.04) rotate(5deg) translate3d(-2px, -1px, 0)}
  }
@keyframes sprinkle-wiggle{
  0%, 25%, 50%, 75%, 100%{
    -webkit-transform:none;transform:none}
  12.5%{
    -webkit-transform:scale(1.07, 0.95) rotate(3deg) translate3d(2px, -2px, 0);
    transform:scale(1.07, 0.95) rotate(3deg) translate3d(2px, -2px, 0)}
  37.5%{
    -webkit-transform:scale(0.97, 1.03) rotate(1deg) translate3d(-1px, 2px, 0);
    transform:scale(0.97, 1.03) rotate(1deg) translate3d(-1px, 2px, 0)}
  62.5%{
    -webkit-transform:scale(1.05, 0.98) rotate(4deg) translate3d(1px, 1px, 0);
    transform:scale(1.05, 0.98) rotate(4deg) translate3d(1px, 1px, 0)}
  87.5%{
    -webkit-transform:scale(0.96, 1.04) rotate(5deg) translate3d(-2px, -1px, 0);
    transform:scale(0.96, 1.04) rotate(5deg) translate3d(-2px, -1px, 0)}
  }
@-webkit-keyframes blobby-wiggle{
  0%, 25%, 50%, 75%, 100%{
    -webkit-transform:none;transform:none}
  12.5%{
    -webkit-transform:scale(1.02, 0.98) rotate(2deg) translate3d(2px, -2px, 0);
    transform:scale(1.02, 0.98) rotate(2deg) translate3d(2px, -2px, 0)}
  37.5%{
    -webkit-transform:scale(0.995, 1.01) rotate(1deg) translate3d(-1px, 2px, 0);
    transform:scale(0.995, 1.01) rotate(1deg) translate3d(-1px, 2px, 0)}
  62.5%{
    -webkit-transform:scale(1.01, 0.99) rotate(3deg) translate3d(1px, 1px, 0);
    transform:scale(1.01, 0.99) rotate(3deg) translate3d(1px, 1px, 0)}
  87.5%{
    -webkit-transform:scale(0.99, 1.02) rotate(4deg) translate3d(-2px, -1px, 0);
    transform:scale(0.99, 1.02) rotate(4deg) translate3d(-2px, -1px, 0)}
  }
@keyframes blobby-wiggle{
  0%, 25%, 50%, 75%, 100%{
    -webkit-transform:none;transform:none}
  12.5%{
    -webkit-transform:scale(1.02, 0.98) rotate(2deg) translate3d(2px, -2px, 0);
    transform:scale(1.02, 0.98) rotate(2deg) translate3d(2px, -2px, 0)}
  37.5%{
    -webkit-transform:scale(0.995, 1.01) rotate(1deg) translate3d(-1px, 2px, 0);
    transform:scale(0.995, 1.01) rotate(1deg)}
  }

.cta-hovered canvas,.cta-hovered img,.cta-hovered svg{
  -webkit-animation:cta-hover .4s ease-in-out 0s normal !important;
  animation:cta-hover .4s ease-in-out 0s normal !important}