.more-wrap{
    position: fixed;
    bottom:20px;
    padding: 0 20px;
    z-index: 100;
}

.More{
    position:relative;
    
}

button{
    outline: none;
    border: 0;
    padding: 0;
    background: none;
    animation: sprinkle-wiggle 1s linear infinite;
    animation-play-state: paused; 
    cursor: pointer;
}

button:hover{
    animation-play-state: running;
    cursor: pointer;
}

@keyframes sprinkle-wiggle{
    0%, 25%, 50%, 75%, 100%{
      -webkit-transform:none;transform:none}
    12.5%{
      -webkit-transform:scale(1.2, 0.75) rotate(5deg) translate3d(2px, -2px, 0);
      transform:scale(1.2, 0.75) rotate(5deg) translate3d(2px, -2px, 0)}
    37.5%{
      -webkit-transform:scale(0.95, 1.2) rotate(2deg) translate3d(-1px, 5px, 0);
      transform:scale(0.95, 1.2) rotate(2deg) translate3d(-1px, 5px, 0)}
    62.5%{
      -webkit-transform:scale(1.1, 0.95) rotate(4deg) translate3d(3px, 1px, 0);
      transform:scale(1.1, 0.95) rotate(4deg) translate3d(3px, 1px, 0)}
    87.5%{
      -webkit-transform:scale(0.95, 1.5) rotate(5deg) translate3d(-2px, -5px, 0);
      transform:scale(0.95, 1.5) rotate(5deg) translate3d(-2px, -5px, 0)}
    }